@if (_initializationState is InitializationState.Initializing)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

<label for="@_id" class="@LabelClass">@Label</label>
<InputTextArea id="@_id" class="@InputClass" @bind-Value="@Value" />