@page "/createpost"
@rendermode RenderMode.InteractiveServer

@using Microsoft.AspNetCore.Mvc

@attribute [StreamRendering(true)]

@inject BlogApiClient Client
@inject NavigationManager Nav

<h3>Create a Post</h3>

<EditForm EditContext="@_editContext" FormName="create-post" OnSubmit="@HandleSubmitAsync" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form">
        <div class="form-section">
            <div class="form-group">
                <label for="title">Title</label>
                <InputText id="title" class="form-control" @bind-Value="@Post.Title" />
                <ValidationMessage For="@(() => Post.Title)" />
            </div>

            <div class="form-group">
                <InputTextAreaEditor @bind-Value="@Post.Content" Label="Content" />
                <ValidationMessage For="@(() => Post.Content)" />
            </div>
        </div>

        <div class="form-section">
            <div class="form-buttons">
                <button class="btn btn-primary" type="submit">Create Post</button>
            </div>
        </div>
    </div>
</EditForm>